{% extends 'index.html' %}

{% block content%}

<div class="bg-dark text-center text-white py-2 mb-1">
    <h1>Ajouter une classe</h1>
</div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token%}
                            <div class="row mb-3">
                                {% for field in form %}
                                <div class="col-md-6 form-group">
                                    
                                        {{ field.label }}
                                    
                                        {{ field }}                                        
                                    
                                </div> 
                                {% endfor %}                               
                            </div>

                            <div class="mt-4 mb-0">
                               <input class="btn btn-primary" type="submit" value="Enregister">                                
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</center>
    
{% endblock %}